<div class="container" style="padding-top: 100px">
  <h2 style="color:white">Introduction to the 50 States</h2>
  <div class="row col-md-6 col-md-offset-3">
    <h4 style="color:#12c8ff">Choose the State abbreviation for more info.</h4>
    <select id="singleSelect" name="singleSelect" class="form-control col-sm-6" ng-model="vm.selState" ng-change="vm.stateChanged()">
      <option ng-repeat="state in vm.statesList" value="{{state.abbreviation}}">{{state.abbreviation}}</option>  <!-- interpolation -->
    </select>
  </div>
      <table class="col-md-12">
        <tr style="color: white">
          <th>Name</th>
          <th>Abbr.</th>
          <th>Capital</th>
          <th>Most Populous City</th>
          <th>Population</th>
          <th>Square-Miles</th>
          <th>Time-Zone 1</th>
          <th>Time-Zone 2</th>
          <th>DST</th>
        </tr>
        <tr ng-repeat="state in vm.states | orderBy: 'name' ">
          <td>{{state.name}}</td>
          <td>{{state.abbreviation}}</td>
          <td>{{state.capital}}</td>
          <td>{{state['most-populous-city']}}</td>
          <td>{{state.population}}</td>
          <td>{{state['square-miles']}}</td>
          <td>{{state['time-zone-1']}}</td>
          <td>{{state['time-zone-2']}}</td>
          <td>{{state.dst}}</td>
        </tr>
      </table>
</div>
