<div class="container" style="padding-top: 100px">
  <h1 id="guestMessage" style="font-size: 40px">States</h1>
  <h2 style="color:white">Introduction to the 50 States</h2>
  <div class="row col-md-6 col-md-offset-3">
    <h4 style="color:#12c8ff">Choose the State abbreviation for specific info.</h4>
    <select id="singleSelect" name="singleSelect" class="form-control col-sm-6" ng-model="vm.selState" ng-change="vm.stateChanged()">
      <option ng-repeat="state in vm.statesList" value="{{state.abbreviation}}">{{state.abbreviation}}</option>  <!-- interpolation -->
    </select>
  </div>
  <div class="col-md-12">
    <hr>
  </div>

  <div class="row list-group col-md-12" ng-repeat="state in vm.states">
      <div class="col-md-6" id="statistics">
          <br>
          <h3 style="color:#12c8ff">Time Zones</h3>
          <h5>{{ state['time-zone-1'] }}</h5>
          <h5>{{ state['time-zone-2'] }}</h5>
          <h5>Daylight-Savings? :&nbsp;&nbsp;<span style="color:#12c8ff">{{state.dst}}</span></h5>
      </div>
      <div class="col-md-6">
          <h3>Name: <span id="mostPeople">{{state.name}} &nbsp;&nbsp;({{state.abbreviation}})</span></h3>
          <div id="statistics">
            <h4>Capital: {{state.capital }}</h4>
            <p>{{ state.population }} people</p>
            <p>{{ state['square-miles'] }} Sq. Miles</p>
            <h4>The city of <span id="mostPeople">{{ state['most-populous-city'] }}</span> is home to the most residents in {{state.name}}.</h4>
          </div>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
  </div>
</div>
